input {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none !important;
  width: auto;
  background-color: white;
  text-align: left !important;
  margin-left: -8px;
  color: black;
}

h1 {
  text-align: center;
}

h2 {
  padding-top: 1.5rem;
  padding-left: 4.2rem;
}

h5 {
  font-size: 1.1rem;
}

.centered_title {
  text-align: center
}

.button_centered_title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  border-radius: 0px !important;
}

.info {

  padding-top: 1.5rem;

  .info-display {
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);

    h4 {
      margin: 8px 5px;
      padding: 0;
      font-size: 1rem;
      font-weight: bold;
    }

    p {
      padding-left: 5px;
      margin: 0;
    }
  }

  .info-left {}
}

#distribuição-dados {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h5 {
    align-self: center;
  }
}