.dashboard {
  background-color: #6B88E8;
  height: 100%;

  h1 {
    text-align: center;
    text-transform: capitalize;
  }

  .infos {
    margin-top: 5px;
  }

  .btn-primary, .btn-light { 
    margin-left: 5px;
  }
}
