<div class="dashboard">
    <h1>Rio Grande do Sul</h1>

    <div class="infos">
        <div class="info">
            <div class="info-left">
                <h3>População:</h3>
                <div class="info-display">
                    <h4>População estimada:</h4>
                    <p>11.329.605 pessoas</p>
                </div>
                <div class="info-display">
                    <h4>População no último censo:</h4>
                    <p>10.693.929 pessoas</p>
                </div>
                <div class="info-display">
                    <h4>Densidade demográfica:</h4>
                    <p>37,96 hab/km²</p>
                </div>
                <div class="info-display">
                    <h4>Total de veículos:</h4>
                    <p>6.650.259 veículos</p>
                </div>
            </div> <!-- info-left -->
            <div class="info-right">
                <h3>Educação:</h3>
                <div class="info-display">
                    <h4>Matrículas no ensino fundamental:</h4>
                    <p>1.298.736 matrículas</p>
                </div>
                <div class="info-display">
                    <h4>Matrículas no ensino médio:</h4>
                    <p>338.065 matrículas</p>
                </div>
                <div class="info-display">
                    <h4>Docentes no ensino fundamental:</h4>
                    <p>73.770 docentes</p>
                </div>
                <div class="info-display">
                    <h4>Docentes no ensino médio:</h4>
                    <p>27.771 docentes</p>
                </div>
                <div class="info-display">
                    <h4>Número de estabelecimentos de ensino fundamental:</h4>
                    <p>5.926 escolas</p>
                </div>
                <div class="info-display">
                    <h4>Número de estabelecimentos de ensino médio:</h4>
                    <p>1.503 escolas</p>
                </div>
            </div> <!-- info-right -->
        </div> <!-- info -->
        <div class="info">
                <div class="info-left">
                    <h3>População:</h3>
                    <div class="info-display">
                        <h4>População estimada:</h4>
                        <p>11.329.605 pessoas</p>
                    </div>
                    <div class="info-display">
                        <h4>População no último censo:</h4>
                        <p>10.693.929 pessoas</p>
                    </div>
                    <div class="info-display">
                        <h4>Densidade demográfica:</h4>
                        <p>37,96 hab/km²</p>
                    </div>
                    <div class="info-display">
                        <h4>Total de veículos:</h4>
                        <p>6.650.259 veículos</p>
                    </div>
                </div> <!-- info-left -->
            <div class="info-right">
                <h3>Educação:</h3>
                <div class="info-display">
                    <h4>Matrículas no ensino fundamental:</h4>
                    <p>1.298.736 matrículas</p>
                </div>
                <div class="info-display">
                    <h4>Matrículas no ensino médio:</h4>
                    <p>338.065 matrículas</p>
                </div>
                <div class="info-display">
                    <h4>Docentes no ensino fundamental:</h4>
                    <p>73.770 docentes</p>
                </div>
                <div class="info-display">
                    <h4>Docentes no ensino médio:</h4>
                    <p>27.771 docentes</p>
                </div>
                <div class="info-display">
                    <h4>Número de estabelecimentos de ensino fundamental:</h4>
                    <p>5.926 escolas</p>
                </div>
                <div class="info-display">
                    <h4>Número de estabelecimentos de ensino médio:</h4>
                    <p>1.503 escolas</p>
                </div>
            </div> <!-- info-right -->
        </div> <!-- info -->
        <div class="info">
            <div class="info-left">
                <h3>Trabalho e rendimento:</h3>
                <div class="info-display">
                    <h4>Rendimento nominal mensal domiciliar per capita:</h4>
                    <p>R$ 1.705,00</p>
                </div>
                <div class="info-display">
                    <h4>Pessoas de 16 anos ou mais ocupadas na semana de referência:</h4>
                    <p>5.842 pessoas (×1000) </p>
                </div>
                <div class="info-display">
                    <h4>Proporção de pessoas de 16 anos ou mais em trabalho formal, considerando apenas as ocupadas na
                        semana de referência:</h4>
                    <p>67,6%</p>
                </div>
                <div class="info-display">
                    <h4>Proporção de pessoas de 14 anos ou mais de idade, ocupadas na semana de referência em trabalhos
                        formais:</h4>
                    <p>70,2%</p>
                </div>
                <div class="info-display">
                    <h4>Rendimento médio real habitual do trabalho principal das pessoas de 14 anos ou mais de idade,
                        ocupadas na semana de referência em trabalhos formai:</h4>
                    <p>R$ 2.524,00</p>
                </div>
                <div class="info-display">
                    <h4>Pessoal ocupado na Administração pública, defesa e seguridade social:</h4>
                    <p>334.636 pessoas</p>
                </div>
            </div> <!-- info-left -->
        </div> <!-- info -->
    </div>
</div>