.dashboard {
  background-color: #6B88E8;
  height: 100%;

  h1 {
    text-align: center;
  }

  h2 {
    padding-top: 1.5rem;
    padding-left: 4.2rem;
  }

  .centered_title {
    text-align: center
  }

  .button_centered_title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info {
    padding-top: 1.5rem;
    display: flex;
    //justify-content: space-evenly;
    .info-display {
      display: flex;
      flex-direction: row;
      align-items: center;

      h4 {
        margin: 5px 0;
      }

      p {
        padding-left: 5px;
        margin: 0;
      }
    }

    .info-left {
    }
  }

  .info:last-child {
    .info-display {
      h4 {
        max-width: 50%;
      }
    }
  }
}
