<div id="accordion">
      <div class="card">
        <div class="card-header button_centered_title btn btn-link collapsed" id="headingOne" data-toggle="collapse"
          data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <h5 class="mb-0">
            Informações populacionais e educacionais
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <div id="populacao-educacao" class="info container row">
              <div class="info-left col-6">
                <h4 class="centered_title">População:</h4>
                <div class="info-display">
                  <h4 class="col-5">População estimada:</h4>
                  <input class="col-7" currencyMask [(ngModel)]="estimated_population"
                    [options]="{ prefix:'', suffix: ' habitantes', thousands: '.', precision: '0' }" disabled>
                </div>
                <div class="info-display">
                  <h4 class="col-5">População no último censo:</h4>
                  <input class="col-7" currencyMask [(ngModel)]="census_population"
                    [options]="{ prefix:'', suffix: ' habitantes', thousands: '.', decimal: ',', precision: '0'  }"
                    disabled>
                </div>
                <div class="info-display">
                  <h4 class="col-5">Densidade demográfica:</h4>
                  <input class="col-7" currencyMask [(ngModel)]="demographic_density"
                    [options]="{ prefix:'', suffix: ' hab/km²', thousands: '.', decimal: ',', precision: '0'  }"
                    disabled>
                </div>
                <div class="info-display">
                  <h4 class="col-5">Total de veículos:</h4>
                  <input class="col-7" currencyMask [(ngModel)]="total_vehicles"
                    [options]="{ prefix:'', suffix: ' veículos', thousands: '.', decimal: ',', precision: '0'  }"
                    disabled>
                </div>
              </div> <!-- info-left -->

              <div class="info-right col-6">
                <h4 class="centered_title">Educação:</h4>
                <div class="info-display">
                  <h4 class="col-6">Matrículas no ensino fundamental:</h4>
                  <input class="col-7" currencyMask [(ngModel)]="elementary_enrollment"
                    [options]="{ prefix:'', suffix: ' matrículas', thousands: '.', decimal: ',', precision: '0'  }"
                    disabled>
                </div>
                <div class="info-display">
                  <h4 class="col-6">Matrículas no ensino médio:</h4>
                  <input class="col-7" currencyMask [(ngModel)]="high_enrollment"
                    [options]="{ prefix:'', suffix: ' matrículas', thousands: '.', decimal: ',', precision: '0'  }"
                    disabled>
                </div>
                <div class="info-display">
                  <h4 class="col-6">Docentes no ensino fundamental:</h4>
                  <input class="col-7" currencyMask [(ngModel)]="elementary_teachers"
                    [options]="{ prefix:'', suffix: ' docentes', thousands: '.', decimal: ',', precision: '0'  }"
                    disabled>
                </div>
                <div class="info-display">
                  <h4 class="col-6">Docentes no ensino médio:</h4>
                  <input class="col-7" currencyMask [(ngModel)]="high_teachers"
                    [options]="{ prefix:'', suffix: ' docentes', thousands: '.', decimal: ',', precision: '0'  }"
                    disabled>
                </div>
                <div class="info-display">
                  <h4 class="col-6">Estabelecimentos de ensino fundamental:</h4>
                  <input class="col-7" currencyMask [(ngModel)]="fundamental_schools"
                    [options]="{ prefix:'', suffix: ' escolas', thousands: '.', decimal: ',', precision: '0'  }"
                    disabled>
                </div>
                <div class="info-display">
                  <h4 class="col-6">Número de estabelecimentos de ensino médio:</h4>
                  <input class="col-7" currencyMask [(ngModel)]="high_schools"
                    [options]="{ prefix:'', suffix: ' escolas', thousands: '.', decimal: ',', precision: '0'  }"
                    disabled>
                </div>
              </div> <!-- info-right -->
            </div> <!-- Populacao e Educacao -->
          </div> <!-- Card-body -->
        </div> <!-- CollapseOne-->
      </div> <!-- card -->

      <div class="card">
        <div class="card-header button_centered_title btn btn-link collapsed" id="headingTwo" data-toggle="collapse"
          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h5 class="mb-0">
            Informações geográficas
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class="card-body">
              <div id="economia-ambiente" class="info container row">
                <div id="economia" class="info-left col-6">
                  <h4 class="centered_title">Economia:</h4>
                  <div class="info-display">
                    <h4 class="col-6">Índice de Desenvolvimento Humano (IDH):</h4>
                    <p class="col-6">{{idh}}</p>
                  </div>
                  <div class="info-display">
                    <h4 class="col-6">Número de agências:</h4>
                    <input class="col-7" currencyMask [(ngModel)]="agencies"
                      [options]="{ prefix:'', suffix: ' agências', thousands: '.', decimal: ',', precision: '0'  }"
                      disabled>
                  </div>
                  <div class="info-display">
                    <h4 class="col-6">Total de depósitos:</h4>
                    <input class="col-6" currencyMask [(ngModel)]="deposited"
                      [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" disabled>
                  </div>
                </div> <!-- info-left -->

                <div class="info-right col-6">
                  <h4 class="centered_title">Território e Ambiente:</h4>
                  <div class="info-display">
                    <h4 class="col-7">Área da unidade territorial:</h4>
                    <input class="col-5" currencyMask [(ngModel)]="area"
                      [options]="{ prefix:'', suffix: ' km²', thousands: '.', decimal: ',' }" disabled>
                  </div>
                </div>
              </div> <!-- info-right -->
            </div> <!-- Populacao -->
          </div> <!-- Card-body -->
        </div> <!-- Collapse two -->
      </div>

      <div class="card">
        <div class="card-header button_centered_title btn btn-link collapsed" id="headingThree" data-toggle="collapse"
          data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h5 class="mb-0">
            Informações socioeconomicas
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            <h3 class="centered_title">Trabalho e rendimento:</h3>
            <div class="info container row">
              <div class="info-left">
                <div class="info-display">
                  <h4 class="col-8">Rendimento nominal mensal domiciliar per capita:</h4>
                  <div class="col-2"></div>
                  <input class="col-2" currencyMask [(ngModel)]="per_capita_income"
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" disabled>
                </div>
                <div class="info-display">
                  <h4 class="col-8">Pessoas de 16 anos ou mais ocupadas na semana de referência:</h4>
                  <div class="col-2"></div>
                  <input class="col-2" currencyMask [(ngModel)]="busy_people_16"
                    [options]="{ prefix:'', suffix: ' (×1000)', thousands: '.', decimal: ',', precision: '0'  }"
                    disabled>
                </div>
                <div class="info-display">
                  <h4 class="col-8">
                    Proporção de pessoas de 16 anos ou mais em trabalho formal, considerando apenas as ocupadas na
                    semana de referência:
                  </h4>
                  <div class="col-2"></div>
                  <input class="col-2" currencyMask [(ngModel)]="formal_people_16"
                    [options]="{ prefix:'', suffix: ' %', thousands: '.', decimal: ',', precision: '0'  }" disabled>
                </div>
                <div class="info-display">
                  <h4 class="col-8">
                    Proporção de pessoas de 14 anos ou mais de idade, ocupadas na semana de referência em trabalhos
                    formais:
                  </h4>
                  <div class="col-2"></div>
                  <input class="col-2" currencyMask [(ngModel)]="formal_people_14"
                    [options]="{ prefix:'', suffix: ' %', thousands: '.', decimal: ',', precision: '0'  }" disabled>
                </div>
                <div class="info-display">
                  <h4 class="col-8">
                    Rendimento médio real habitual do trabalho principal das pessoas de 14 anos ou mais de idade,
                    ocupadas na semana de referência em trabalhos formal:
                  </h4>
                  <div class="col-2"></div>
                  <input class="col-2" currencyMask [(ngModel)]="average_yield_14"
                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" disabled>
                </div>
                <div class="info-display">
                  <h4 class="col-8">Pessoal ocupado na Administração pública, defesa e seguridade social:</h4>
                  <div class="col-2"></div>
                  <input class="col-2" currencyMask [(ngModel)]="public_initiative_workers"
                    [options]="{ prefix:'', suffix: ' pessoas', thousands: '.', decimal: ',', precision: '0'  }"
                    disabled>
                </div>
              </div> <!-- info-left -->
            </div> <!-- info -->
          </div>
        </div>
      </div>
    </div>